.svg {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
  background-color: #fff;
}
.icon-antenna-1 {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-astronaut-1 {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-clock-1 {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-close-black-18dp-2-1 {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-diagram-1 {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-facebook-1 {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-instagram-2 {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-linkedin-1 {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-Logo {
  width: 59px;
  height: 32px;
  background-position: -384px 0;
}
.icon-Logo2 {
  width: 59px;
  height: 32px;
  background-position: -480px 0;
}
.icon-Logo3 {
  width: 59px;
  height: 32px;
  background-position: -576px 0;
}
.icon-Logo4 {
  width: 59px;
  height: 32px;
  background-position: -672px 0;
}
.icon-Logo5 {
  width: 59px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-Logo6 {
  width: 59px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-twitter-1 {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-close {
  width: 32px;
  height: 32px;
  background-position: -240px -48px;
}
.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-facebook {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-in {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-Ellipse {
  width: 32px;
  height: 32px;
  background-position: -432px -48px;
}

